body {
    font-family: Arial;
    padding: 10px;
    background: rgb(252, 252, 252);
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px; /* 留出空间给固定的导航栏 */
  background-color: #f0f0f0; /* 灰色背景色 */
}

.theme-frame {
  margin: 10px;
  width: 70%; 
  max-width: 600px; /* 设置最大宽度，防止框架过宽 */
  margin: 20px auto; /* 居中显示，并设置上下边距 */
  padding: 20px; /* 内边距 */
  border-radius: 10px; /* 圆角边框 */
  border: 2px solid #006400; /* 墨绿色边框 */
}
 
.theme-frame3 {
  width: 70%; 
  max-width: 600px; /* 设置最大宽度，防止框架过宽 */
  margin: 20px auto; /* 居中显示，并设置上下边距 */
  padding: 20px; /* 内边距 */
  border-radius: 10px; /* 圆角边框 */
  border: 2px solid #beddbe; /* 墨绿色边框 */
}

.theme-frame2 {
  width: 70%; 
  max-width: 600px; /* 设置最大宽度，防止框架过宽 */
  margin: 20px auto; /* 居中显示，并设置上下边距 */
  padding: 20px; /* 内边距 */
  border-radius: 10px; /* 圆角边框 */
  border: 2px solid #006400; /* 墨绿色边框 */
  background-color: rgba(225, 253, 253, 0.616);
 
}


.theme-frame1 {
  width: 70%; 
  max-width: 600px; /* 设置最大宽度，防止框架过宽 */
  margin: 20px auto; /* 居中显示，并设置上下边距 */
  padding: 20px; /* 内边距 */
  border-radius: 10px; /* 圆角边框 */
  border: 2px solid #6f886f; /* 墨绿色边框 */
  
}


img { 
  width: 100%;
  border-radius: 5px;
  transition: transform 0.5s ease; /* 添加旋转效果的过渡动画 */
}
image{
  float:right;
}
.theme-frame:hover img {
  transform: rotate(10deg); /* 鼠标悬停时旋转图片 */
}

p {
  word-wrap: break-word; /* 自动换行 */
  white-space: normal; /* 确保文字正常换行 */
  font-size: 16px; /* 可根据需要调整字体大小 */
  line-height: 1.5; /* 可根据需要调整行高 */
  color: #000000; /* 文字颜色 */
}

.container000{
  display: flex;
}

.small-frame {
  width: 100px;
  text-align: center;
  margin: 10px;
  border-radius: 10px; /* 圆角边框 */
  border: 2px solid rgb(13, 27, 100); /* 添加边缘线 */
  justify-content: space-around;
  float:left;
}
.clearfix {
  overflow: auto;
}

